@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  background: #fff;
  box-shadow:
    -24px 0 #fff,
    24px 0 #fff;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #fff;
    box-shadow:
      -24px 0 #10bbb3,
      24px 0 #fff;
  }
  66% {
    background: #10bbb3;
    box-shadow:
      -24px 0 #fff,
      24px 0 #fff;
  }
  100% {
    background: #fff;
    box-shadow:
      -24px 0 #fff,
      24px 0 #10bbb3;
  }
}

::-webkit-scrollbar {
  width: 10px;
  background-color: azure;
}
::-webkit-scrollbar-thumb {
  background-color: #5eead4;
}

/* a:global(.active) {
  background-color: blue;
} */
.active {
  background-color: rgb(167, 178, 189);
}

html.dark .active {
  background-color: rgb(43, 48, 54);
}

textarea {
  resize: none;
}

.numOfPagination {
  @apply mx-1 flex h-4 w-4 cursor-pointer items-center justify-center rounded-full p-1 text-xs hover:text-teal-500 hover:dark:text-teal-400 sm:h-6 sm:w-6 md:h-8 md:w-8 md:text-base;
}

.activePage {
  @apply bg-slate-400 dark:bg-slate-500;
}

/* body {
  direction: ltr;
} */

.changeDirection {
  direction: rtl;
}
